html,body{
    background-color:black;
}

.freeze {
    pointer-events:none;
}

.abstand{
    margin-top:25px;
}

.rand{
    background-color:#d3d9df;
    height: 100px;
}

.stange{
    margin:auto;
    background-color:silver;
    height: 10px;
}

.align-img-left{
    position:relative;
    left:0%;
    vertical-align:middle;
    height: 40px;
    margin-top:-18px;
    transition:all 1s linear;
}

.align-img-right{
    position:relative;
    left: 53%;
    vertical-align:middle;
    height: 40px;
    margin-top:-18px;
    transition:all 1s linear;
}

.format-result{
    color:white;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}
