html,body{
    background-color:black;
}

.abstand{
    margin-top:25px;
}

.rand{
    background-color:#d3d9df;
    height: 100px;
}

.stange{
    margin:auto;
    background-color:silver;
    height: 25px;
}